<link rel="stylesheet" href="/css/profile.css">

<h1>Heyya!! Welcome to your profile </h1>


<figure>
    <img src= <%= user.photo %> height="200px" width="200px">
    <figcaption><%= user.name %></figcaption>
</figure>   