body
{
    font-family:"Microsoft JhengHei";
    margin:0;
}

header
{
    background:salmon;
    height:70px;
}
header ul
{
    display:flex;
}
header li
{
    border:2px solid white;
    padding:5px 10px;
    background:rgba(255,255,255,0.15);
    margin:17px;
    list-style-type: none;
}
header li:hover
{
    background:rgba(255,255,255,0.2);
    font-weight:bolder;
    transform:scale(1.04);
}
header li a
{
    text-decoration: none;
    color:white;
}
h1{ 
    margin:20px;
}